Lộn xộn 2/booking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="khachsan">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="madon" type="xs:string"></xs:element>
                <xs:element name="ten" type="xs:string"></xs:element>
                <xs:element name="ngaynhan" type="xs:date"></xs:element>
                <xs:element name="ngaytra" type="xs:date"></xs:element>
                <xs:element name="dsphong">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="phong" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="loai" type="xs:string"></xs:element>
                                        <xs:element name="sodem" type="xs:integer"></xs:element>
                                        <xs:element name="gia" type="xs:nonNegativeInteger"></xs:element>
                                        <xs:element name="thanhtien" type="xs:nonNegativeInteger"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>   
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tongtien" type ="xs:nonNegativeInteger"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>