Lộn xộn 2/sieuthi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="hoadonsieuthi">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="madon" type="xs:string"></xs:element>
                <xs:element name="tenkh" type="xs:string"></xs:element>
                <xs:element name="ngaymua" type="xs:date"></xs:element>
                <xs:element name="dshoadon">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hoadon" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="sanpham" type="xs:string"></xs:element>
                                        <xs:element name="loai" type="xs:string"></xs:element>
                                        <xs:element name="soluong" type="xs:integer"></xs:element>
                                        <xs:element name="dongia" type="xs:nonNegativeInteger"></xs:element>
                                        <xs:element name="thanhtien" type="xs:nonNegativeInteger"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>                              
                            </xs:element>                         
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tongtien" type="xs:nonNegativeInteger"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>