Lộn xộn/donhang.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="donhang">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="madonhang">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:length value="6" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="ngaydathang" type="xs:date" />
                <xs:element name="hoten" type="xs:string" />
                <xs:element name="diachi" type="xs:string" />
                <xs:element name="sanpham" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tensp" type="xs:string" />
                            <xs:element name="soluong">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="1" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="giatien" type="xs:double" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>